@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/Contact.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<form class="emailForm" onsubmit="emailTest(); reset(); return false;">
    <h4>Get in touch with us!</h4>
    <input type="text" id="name" placeholder="Your Name" required>
    <input type="email" id="email" placeholder="Your email address" required />
    <textarea id="message" rows="4" placeholder="Your message..."></textarea>
    <button class="sendButton" type="submit">Send</button>
</form>
<script>
    function emailTest() {
        let name = document.getElementById("name").value;
        let email = document.getElementById("email").value;
        let msg = document.getElementById("message").value;
    }
</script>




