@model IEnumerable<MonashApp.Models.Product>
<link href="~/Content/Home.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to DigiStore!</h1>
    <p class="lead">Placeholder Text.</p>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 productlist">
            <a href="/Product/Details/@product.Id">
                <img src="~/Images/ProductImages/@(product.Id).jpg" class="img-responsive list">
                @product.Name
                <br />
                @if(User.Identity.IsAuthenticated)
                {
                    <strong>$@product.BasePrice</strong>
                }
            </a>
        </div>
    }
</div>