@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to DigiStore!</h1>
    <p class="lead">Placeholder Text.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product Listing</h2>
        <p>
            Placeholder Text
        </p>
    </div>
    <div class="col-md-4">
        <h2>Product Listing</h2>
        <p>Placeholder Text</p>
    </div>
    <div class="col-md-4">
        <h2>Product Listing</h2>
        <p>Placeholder Text</p>
    </div>
</div>