.logo-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.navbar {
    min-height: 100px;
}

ul.nav {
    padding: 30px 30px;
}

ul.searchbar {
    margin-left: 100px;
    margin-right: 100px;
    width: 50%;
}
