.body{
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

span.error-msg{
    color: red;
}

.row
{
    margin-top: 0;
    padding-left: 11%;
    padding-right: 11%;
}

.logo-image{
    width: fit-content;
}

.header-search {
    margin-top: 20%;
}

.header-search form[name=productsearch] {
    border: solid 1px #888;
    border-radius: 11px;
    z-index: 1;
    padding: 5px;
    box-shadow: 2px 3px 5px #888;
}

.ajax_search {
    height: 45px;
    max-width: 100%;
    border: none;
    border-color: transparent;
}

ul.searchbar {
    margin-left: 100px;
    margin-right: 100px;
    width: 50%;
}

.btn-default {
    color: white;
    background-color: #ff8080;
    border-color: transparent;
}

.btn-search {
    color: #f01265;
    background-color: white;
    border-color: transparent;
}

.navbar {
    max-height: 100px;
    text-align: center;
    z-index: 99;
}

.navbar ul{
    list-style: none;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background: #f9f9f9;
}

.navbar .fa {
    margin-left: 8px;
}

a
{
    text-decoration: none;
    color: black;
}

div > ul > li:hover {
    background: #f58e90;
    border-radius: 3px;
}



a#registerlink {
    color: black;
}

ul {
    padding-left: 0;
}

.sub-menu-1{
    display: none;
}

.nav li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #fcfcfc;
    margin-top: 0;
    margin-left: 0;
}

.nav li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.nav li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #f01265;
    border-radius: 0;
    text-align: left;
    text-decoration: none;
    color: black;
}

.nav li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}


